<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tenactivityapp">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_stat_drawing"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activities.ActivityTen"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.ActivityNine">
        </activity>
        <activity android:name=".activities.ActivityEight"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.ActivitySeven">
        </activity>
        <activity android:name=".activities.ActivitySix"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.ActivityFive">
        </activity>
        <activity android:name=".activities.ActivityFour"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.ActivityThree">
        </activity>
        <activity android:name=".activities.ActivityTwo"
        android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>